textarea.dodInput {
    height: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

.button {
    cursor: pointer;
}

.dod-draggable-row-handle {
    cursor: move;
    color: #dedede;
    padding: 4px
}

.dod-draggable-row-handle:hover {
    color: var(--color-primary)
}

.dod-table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.dod-table>thead {
    inset-block-start: 0;
    position: sticky;
    top: -1px;
    z-index: 1;
}

.dod-title {
    overflow-wrap: anywhere;
}

.dod-separator {
    background-color: rgb(0, 0, 0, 0.1) !important;
}

.dod-separator-button {
    width: 100%;
}

.dod-text {
    overflow-wrap: anywhere;
}

.dod-text:not(:empty) {
    width: 50%;
}

.dod-options,
.dod-status {
    width: 0%;
    text-align: center;
}

.dod-options-box {
    display: flex;
    align-items: baseline;
}

.dod>td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    vertical-align: middle;
}

td.markdown p:first-child {
    margin-top: 10px;
}

.dod-highlight {
    background-color: greenyellow !important;
}

.dod-highlight-off {
    background-color: inherit !important;
    transition: background-color 3s;
}
