textarea.dodInput {
    height: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

.button {
    cursor: pointer;
}

.dod-draggable-row-handle {
    cursor: move;
    color: #dedede;
    padding: 4px
}

.dod-draggable-row-handle:hover {
    color: var(--color-primary)
}